<div class="l-container">
    <article class="article">
        <div class="row">
            <div class="col-s-12">
                <hgroup>
	                <h2><span>On twitte ?</span></h2>
	                <h3><a class="twitter-timeline" href="https://twitter.com/antoine_michael">Tweets de @antoine_michael</a></h3>
                </hgroup>
            </div>
            <div class="col-s-6">
                <div class="center-block">
                    {{ render(controller('ManManuiaBundle:Block:lastTweets')) }}
                </div>
            </div>
            <div class="col-s-6">
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 150px; height: 150px; opacity:1;"
                    data-bottom-top="top: 100px; left:0px;transform:rotate(0deg);"
                    data-top-bottom="top: 500px; transform:rotate(360deg); left:200px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 100px; height: 100px; opacity:0.6;"
                    data-bottom-top="top: 0px; left:150px;"
                    data-top-bottom="top: 600px; left:0px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 70px; height: 70px; opacity:0.5;"
                    data-bottom-top="top: 300px;left:50px;"
                    data-top-bottom="top: 0px; left:150px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
                <img src="{{ asset("/bundles/manmanuia/images/parallax/twitter-share.png") }}"
                    style="width: 50px; height: 50px; opacity:0.3;"
                    data-bottom-top="top: 500px; left:100px;"
                    data-top-bottom="top: 0px; left:0px;"
                    data-anchor-target="#hash-twitter"
                    class="parallax-img-twitter" >
            </div>
        </div>
    </article>
</div>

{# data-bottom-top="transform: translate3d(0px, -100%, 0px);"#}
{# data-top-bottom="transform: translate3d(0px, 100%, 0px);"#}