{% extends 'ManAdminBundle::layout.html.twig' %}
{% import 'ManAdminBundle::helpers.html.twig' as helpers %}

{% block title %}{{ 'Posts'|trans }}{% endblock %}

{% block content %}
<section class="section">
    <div class="l-container">
       <div class="row responsive-table-line">
            <h2>Gestion des Articles {% set content_post_create %}<small>Ajouter un article</small>{% endset %} </h2>

            {% set url_post_create = url('man_admin_post_create') %}
            {{ helpers.link_small(
                content_post_create,
                url_post_create,
                'small',
                'btn-mb'
            ) }}

            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Titre</th>
                  <th>Créé le</th>
                  <th>Publié</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                  <td data-title="Titre" >{{ post.title }}</td>
                  <td data-title="Créé le" >{{ post.createdAt|date('d/m/Y') }}</td>
                  <td data-title="Publié" >{{ helpers.label(post.published, 'Published'|trans) }}</td>
                  <td data-title="Actions" >
                    {% set content_post_edit %}<span class="glyphicon glyphicon-edit">Editer</span>{% endset %}
                    {% set url_post_edit = url('man_admin_post_edit', {'slug': post.slug}) %}
                    {{ helpers.link_small(
                      content_post_edit,
                      url_post_edit
                    ) }}

                    {% set content_post_edit %}<span class="glyphicon glyphicon-remove">Supprimer</span>{% endset %}
                    {% set url_post_edit = url('man_admin_post_remove', {'slug': post.slug}) %}
                    {{ helpers.link_small(
                      content_post_edit,
                      url_post_edit,
                      'danger',
                      {
                        'data-method': 'DELETE',
                        'data-confirm': 'You will delete a post, are you sure ?'}
                    ) }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
