{# ~~~~~~~~~~~~~~ Logo #}
{% import 'ManManuiaBundle:Template:helpers/_menu.html.twig' as menu %}
<div class="l-container">
    <div class="row header-wrapper">
        <div class="col-s-3">
            <div class="m-hide">
                <a class="header-logo" href="{{ path('man_manuia_homepage') }}">
                    <img src="/bundles/manmanuia/images/logo_s-{{ color }}.png" alt="Logo">
                </a>
            </div>
            <div class="s-hide-only">
                <a class="header-logo" href="{{ path('man_manuia_homepage') }}">
                    <img src="/bundles/manmanuia/images/logo_ml-{{ color }}.png" alt="Logo">
                </a>
            </div>
        </div>
        <div class="col-s-9">
        {# ~~~~~~~~~~~~~~ Menu #}
        {% block menu_header %}
            <div class="header-toggle m-hide">
                <button type="button"
                    class="navbar-toggle"
                    data-target=".header-menu"
                    data-toggle="collapsed">
                    <span class="icon icon-bar"></span>
                </button>
            </div>
            <nav class="header-menu s-hide-only col-s-12" role="navigation">
                {% block content_header_more %}
                    {{ menu.widget_menu_item('Accueil', 'man_manuia_homepage') }}
                    {{ menu.widget_menu_item('Blog', 'man_blog') }}
                    {{ menu.widget_menu_item('Admin', 'man_admin_dashboard') }}
                    {{ content_header_more | raw }}
                {% endblock %}
            </nav>
            {{ menu_header | raw }}
        {% endblock %}
        </div>
    </div>
</div>
