{% import 'ManManuiaBundle:Template:helpers/_forms.html.twig' as man_forms %}

<div class="new">
    {{ form_start(form) }}


    {{ man_forms.form_input(form.username) }}
    {{ man_forms.form_input(form.email) }}
    {{ man_forms.form_input(form.website) }}
    {{ man_forms.form_textarea(form.content) }}

    {{ form_row(form.save, {'attr': {
            'class': 'btn btn-small'
    }}) }}
    {{ form_end(form) }}
</div>