{% extends 'ManAdminBundle::layout.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block admin_content %}
    <section class="section">
        <div class="l-container">
            <div class="col-s-12">
                {% if error %}
                    <div class="alert alert-warning">{{ error.message }}</div>
                {% endif %}
            </div>
            <div class="col-s-12 ">
                <form action="{{ path('admin_login_check') }}" method="post" class="form">
                    <div class="wrapper-input">
                        <input type="text" class="form-input" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="wrapper-input">
                        <input type="password" class="form-input" placeholder="Password" id="password" name="_password" />
                    </div>

                    <p>
                        <button type="submit" class="btn btn-large">{{ 'Login'|trans }}</button>
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}