{# ~~~~~~~~~~~~~~ Logo #}
<div class="row">
    <div class="col-s-3">
        <div class="m-hide">
            <a class="header-logo" href="{{ path('man_manuia_homepage') }}">
                <img src="/bundles/manmanuia/images/logo_s-{{ color }}.png" alt="Logo">
            </a>
        </div>
	    <div class="s-hide-only">
	        <a class="header-logo" href="{{ path('man_manuia_homepage') }}">
	            <img src="/bundles/manmanuia/images/logo_ml-{{ color }}.png" alt="Logo">
	        </a>
	    </div>
    </div>
     <div class="col-s-9">
     {# ~~~~~~~~~~~~~~ Menu #}
     {% block menu_header %}
        <div class="header-toggle m-hide">
            <button type="button"
                class="navbar-toggle"
                data-target=".header-menu"
                data-toggle="collapse">
                <span class="icon icon-bar"></span>
            </button>
        </div>
        <nav class="header-menu s-hide-only col-s-12" role="navigation">
            {% set route = app.request.attributes.get('_route') %}
            {% block content_header_more %}
                <span class="menu-item{% if 'man_manuia_homepage' == route %} is-active{% endif %}"><a href="{{ path('man_manuia_homepage') }}">Accueil</a></span>
                <span class="menu-item{% if 'man_blog' == route %} is-active{% endif %}"><a href="{{ path('man_blog') }}">Blog</a></span>
                <span class="menu-item{% if 'man_admin_dashboard' == route %} is-active{% endif %}"><a href="{{ path('man_admin_dashboard') }}">Admin</a></span>
                {{ content_header_more | raw }}
            {% endblock %}
        </nav>
        {{ menu_header | raw }}
    {% endblock %}
    </div>
</div>
