<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head_meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="index,follow" />
        <meta property='og:title' content='{{ block('title') }}'/>
        <meta property='og:description' content='{{ block('description') }}'/>
        <meta property='og:site_name' content='Manuia'/>
        <meta property='og:type' content='website'/>
        <meta property='og:image' content='http://manuia.local/bundles/manmanuia/images/logo_ml-dark.png' />

        <link rel="alternate" type="application/rss+xml"  href="{{ url('man_blog_feed_rss') }}" title="Man RSS">
    {% endblock head_meta %}

    <link rel="alternate" type="application/rss+xml"  href="{{ url('man_blog_feed_rss') }}" title="Man RSS">
    <title>{% block title %}{% endblock %} >> Manuia</title>

    {% block stylesheets %}
        <link rel="apple-touch-icon" sizes="130×130" href="/apple-touch-icon.png" />
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic|Kreon'>
        <link rel="stylesheet" type="text/css" href="{{ asset("/bundles/manmanuia/css/style.css") }}">
    {% endblock %}

    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="l-container">
            <div class="row">
                <div class="col-s-12">
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% block body %}
            {% set manuia_color_logo = 'blue' %}
            {% block header %}
            <header class="l-header fixed">
                <div class="header-top {{ manuia_color_logo }}">
                    {{ include('ManManuiaBundle:Template:header/top.html.twig',{
	                    'color':  manuia_color_logo,
	                }) }}
                </div>
                <div class="header-main">
	                {{ include('ManManuiaBundle:Template:header/main.html.twig',{
	                    'color':  manuia_color_logo,
	                    'menu_header' : block('menu_header'),
	                    'content_header_more' : block('content_header_more')
	                }) }}
                </div>
            </header>
            {% endblock %}

            <section class="l-content">
                {% block content %}{% endblock %}
            </section>
        {% endblock %} <!-- block body -->

        {% block javascripts %}
            {% javascripts
                '@ManManuiaBundle/Resources/public/js/vendor/jquery-1.11.1.js'
                '@ManManuiaBundle/Resources/public/js/vendor/jquery.easing.js'
                '@ManManuiaBundle/Resources/public/js/vendor/jquery.velocity.min.js'
                '@ManManuiaBundle/Resources/public/js/vendor/velocity.ui.js'
                '@ManManuiaBundle/Resources/public/js/outside/jquery.ba-outside-events.min.js'  %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="/bundles/manmanuia/js/manuia-app.js"></script>
        {% endblock %}
    </body>
</html>
