{% extends "ManManuiaBundle:Template:layout.html.twig" %}
{% import 'ManManuiaBundle:Template:helpers/_menu.html.twig' as menu %}
{% set manuia_color = 'pink' %}
{% block header %}
    {% set manuia_color_logo = manuia_color %}
    {{ parent() }}
{% endblock %}

{% block content_header_more %}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
	    {{ menu.widget_menu_item('Dashboard', 'man_admin_dashboard') }}
	    {{ menu.widget_menu_item('Articles', 'man_admin_post_list', '', 'sub-item') }}
	    {{ menu.widget_menu_item('Commentaires', 'man_admin_comment_list', '', 'sub-item') }}
	    {{ menu.widget_menu_item('Déconnexion', 'admin_logout', '','') }}
    {% endif %}
{% endblock %}

{% block content %}
        {% for flashMessage in app.session.flashbag.get('admin') %}
        <div class="l-container">
            <div class="row">
                <div class="col-s-12">
                    <div class="flash-message">
                        <em>Admin</em>: {{ flashMessage }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pink {{ manuia_color }}">
            {% block admin_content %}{% endblock %}
        </div>
{% endblock %}

