{% extends "ManManuiaBundle:Template:layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="parallax-preload-images">
    <img src="{{ asset("/bundles/manmanuia/images/parallax/bg_slide-1.jpg") }}">
    <img src="{{ asset("/bundles/manmanuia/images/parallax/bg_slide-7.jpg") }}">
    <img src="{{ asset("/bundles/manmanuia/images/parallax/bg_slide-8.jpg") }}">
    <img src="{{ asset("/bundles/manmanuia/images/parallax/bg_slide-9.jpg") }}">
    <img src="{{ asset("/bundles/manmanuia/images/parallax/bg_slide-10.jpg") }}">
</div>

<div id="skrollr-body" class="parallax-sections">

    <section id="hash-whoiam" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-7.jpg") }});"
            data-start="transform:translate3d(0px, 0%, 0px);"
            data-end="transform:translate3d(0px, 200%, 0px);"
            data-anchor-target="#hash-whoiam">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_whoami.html.twig') }}
    </section>

    <section id="hash-twitter" class="parallax-section" >
        <div class="parallax-section-bg" style="top:0px; background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-8.jpg") }});"
            data-bottom-top="transform:translate3d(0px, -100%, 0px);"
            data--100-bottom="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-twitter">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_twitter.html.twig') }}
    </section>

    <section id="hash-projects" class="parallax-section">
        <div class="parallax-section-bg" style="background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-1.jpg") }});"
            data-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-projects">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_projects.html.twig') }}
    </section>

    <section id="hash-linkedin" class="parallax-section">
        <div class="parallax-section-bg" style="background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-9.jpg") }});"
            data--100-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-linkedin">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_linkedin.html.twig') }}
    </section>

    <section id="hash-viadeo" class="section" >
        <div class="parallax-section-bg" style="background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-10.jpg") }});"
            data--100-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-viadeo">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_viadeo.html.twig') }}
    </section>

    <section id="hash-wetalkaboutme" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ asset("/bundles/manmanuia/images/parallax/bg_slide-11.jpg") }});"
            data--100-bottom-top="transform:translate3d(0px, -20%, 0px);"
            data-end="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-wetalkaboutme">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_wetalkaboutme.html.twig') }}
    </section>
</div>

{% endblock %}
