{% extends "ManManuiaBundle:Template:layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
{% endblock %}

{% block content %}
{% set section_url_bg_whoami = asset("/bundles/manmanuia/images/parallax/bg_slide-12.jpg") %}
{% set section_url_bg_twitter = asset("/bundles/manmanuia/images/parallax/bg_slide-2.jpg") %}
{% set section_url_bg_projects = asset("/bundles/manmanuia/images/parallax/bg_slide-3.jpg") %}
{% set section_url_bg_linkedin = asset("/bundles/manmanuia/images/parallax/bg_slide-4.jpg") %}
{% set section_url_bg_viadeo = asset("/bundles/manmanuia/images/parallax/bg_slide-5.jpg") %}
{% set section_url_bg_wetalkaboutme = asset("/bundles/manmanuia/images/parallax/bg_slide-6.jpg") %}
<div class="parallax-preload-images">
    <img src="{{ section_url_bg_whoami }}">
    <img src="{{ section_url_bg_twitter }}">
    <img src="{{ section_url_bg_projects }}">
    <img src="{{ section_url_bg_linkedin }}">
    <img src="{{ section_url_bg_viadeo }}">
    <img src="{{ section_url_bg_wetalkaboutme }}">
</div>

<div id="skrollr-body" class="parallax-sections">

    <section id="hash-whoiam" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_whoami }}); top:-100px; background-position: center -250px;"
            data-start="transform:translate3d(0px, 0%, 0px);"
            data-end="transform:translate3d(0px, 200%, 0px);"
            data-anchor-target="#hash-whoiam">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_whoami.html.twig') }}
    </section>

    <section id="hash-twitter" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_twitter }});"
            data-bottom-top="transform:translate3d(0px, -100%, 0px);"
            data--100-bottom="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-twitter">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_twitter.html.twig') }}
    </section>

    <section id="hash-projects" class="parallax-section">
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_projects }});"
            data-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-projects">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_projects.html.twig') }}
    </section>

    <section id="hash-linkedin" class="parallax-section">
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_linkedin }});"
            data--100-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-linkedin">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_linkedin.html.twig') }}
    </section>

    <section id="hash-viadeo" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_viadeo }});"
            data--100-bottom-top="transform:translate3d(0px, -50%, 0px);"
            data-center="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-viadeo">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_viadeo.html.twig') }}
    </section>

    <section id="hash-wetalkaboutme" class="parallax-section" >
        <div class="parallax-section-bg" style="background-image:url({{ section_url_bg_wetalkaboutme }});"
            data--100-bottom-top="transform:translate3d(0px, -20%, 0px);"
            data-end="transform:translate3d(0px, 0%, 0px);"
            data-anchor-target="#hash-wetalkaboutme">
        </div>
        {{ include('ManManuiaBundle:Default:sections/_wetalkaboutme.html.twig') }}
    </section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@ManManuiaBundle/Resources/public/js/images/imagesloaded.js'
        '@ManManuiaBundle/Resources/public/js/scrollr/skrollr.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="/bundles/manmanuia/js/selfi-slider.js"></script>
    <script src="/bundles/manmanuia/js/parallax.js"></script>
{% endblock %}