{% extends "ManManuiaBundle:Template:layout.html.twig" %}

{%  block title %}Man\Bundle - {{ post.title }}{% endblock %}

{%  block description %}{{ post_description|striptags }}{% endblock %}

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route'), {slug: post.slug}) }}"/>{% endblock head_canonical %}

{% block body_class %}blog-post{% endblock body_class %}

{% block content %}
    <section class="section">
        <div class="l-container">

            <div class="zone-post">
                {{ post_content|markdown }}
            </div>

            {% if config('blog.comment.enabled') %}
                <div class="row">
                    <div class="col-s-12 col-m-6 col-s-center col-m-center">
                        {{ render(controller('ManBlogBundle:Comment:list', {'slug': post.slug})) }}
                        {{ render(controller('ManBlogBundle:Comment:add', {'slug': post.slug})) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock content %}
