{% extends "ManBlogBundle::layout.html.twig" %}

{% block title %}Man\Bundle - {{ post.title }}{% endblock %}

{% block description %}{{ post_description|striptags }}{% endblock %}

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route'), {slug: post.slug}) }}"/>{% endblock head_canonical %}

{% block body_class %}blog-post{% endblock body_class %}

{% block content %}
    <section class="section">
        <div class="l-container">
            <div class="block-article">
	            <article class="article">
	                {{ post_content|markdown }}
	            </article>
            </div>
            {% if config('blog.comment.enabled') %}
            <div class="block-comments">
                {{ include('ManBlogBundle:Comment:post-comments.html.twig', {'post': post}) }}
            </div>
            {% endif %}
        </div>
    </section>

{% endblock content %}
